name: Push Python Package to Cloudsmith
on:
  push:
    branches:
      - main # Trigger on push to the main branch
permissions:
  id-token: write # Required for requesting the JWT token which Cloudsmith needs
  contents: read # Required for actions/checkout
jobs:
  build:
    runs-on: ubuntu-latest # Using Ubuntu runner for the job
    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Get OIDC token
        run: |
          # Request an OIDC token from GitHub
          value=$(curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=api://AzureADTokenExchange" | jq '.value')
          # Exchange the OIDC token for a Cloudsmith-specific token
          token=$(curl -X POST -H "Content-Type: application/json" -d "{\"oidc_token\":$value, \"service_slug\":\"Github Action service account\"}" https://api.cloudsmith.io/openid/interview-shahid-ahmed/ | jq -r '.token')
          curl --request GET --url https://api.cloudsmith.io/v1/user/self/ --header "X-Api-Key:Bearer $token" --header 'accept: application/json'
          # Store the token as an environment variable
          echo "CLOUDSMITH_API_KEY=$token" >> $GITHUB_ENV
      - name: Set up Python
        # Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        # Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools twine
          pip install --upgrade cloudsmith-cli
      - name: Build the package
        # Build the package
        run: python setup.py sdist
      - name: Validate package upload
        run: |
          curl --request POST \
            --url https://api.cloudsmith.io/v1/packages/owner/repo/validate-upload/python/ \
            --header 'accept: application/json' \
            --header 'content-type: application/json' \
            --header "X-Api-Key: Bearer $CLOUDSMITH_API_KEY"
      - name: Suppress SyntaxWarnings
        run: echo "PYTHONWARNINGS=ignore::SyntaxWarning" >> $GITHUB_ENV
      - name: Push package to Cloudsmith
        # Push package to Cloudsmith
        uses: cloudsmith-io/action@v0.5.3
        with:
          command: "push"
          format: "python" #format of the package
          owner: "interview-shahid-ahmed" # my Cloudsmith username
          repo: "shahid-repo-2" # my Cloudsmith repository name
          file: "dist/*" # path to built package 
          republish: "false" # set to true if want to overwriting an existing version
